# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [40]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [20]:
# Your code here
# Creating stars_squared column using lambda function
df['stars_squared'] = df['stars'].apply(lambda x: x**2)
df['stars_squared']

1       25
2        1
4       25
5        1
10      25
        ..
689     25
4874    25
564     25
3458     4
4206     1
Name: stars_squared, Length: 2610, dtype: int64

## Dates
Select the month from the date string using a lambda function.

In [24]:
# Your code here
df['month'] = df['date'].apply(lambda x: pd.to_datetime(x).month)
df['month']

1       11
2       10
4        9
5        2
10       6
        ..
689      6
4874     8
564      6
3458    10
4206     8
Name: month, Length: 2610, dtype: int64

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [41]:
# Your code here
df['word_count'] = df['text'].apply(lambda x: len(str(x).split())).mean()
df['word_count']

1       77.065517
2       77.065517
4       77.065517
5       77.065517
10      77.065517
          ...
689     77.065517
4874    77.065517
564     77.065517
3458    77.065517
4206    77.065517
Name: word_count, Length: 2610, dtype: float64

## Create a new column for the number of words in the review

In [45]:
# Your code here
# Create a new column for the number of words in the review
df['new_column'] = df['text'].apply(lambda x: len(str(x).split()))
df.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,word_count,new_column
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,77.065517,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,77.065517,30
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,77.065517,30

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [47]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['new_column'].apply(lambda x: 'Short' if x < 50 else ('Medium' if x < 80 else 'Long'))
df.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,word_count,new_column,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,77.065517,58,Medium
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,77.065517,30,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,77.065517,30,Short

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [48]:
# Your code here
print(df['date'].head())

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [ ]:
# Your code here

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.